name: TDG
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run tdg-github-action
        uses: ribtoks/tdg-github-action@master
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          SHA: ${{ github.sha }}
          REF: ${{ github.ref }}
          MIN_WORDS: 1
          MIN_CHARACTERS: 1
          ADD_LIMIT: 50
          CLOSE_LIMIT: 50
          INCLUDE_PATTERN: "\\.v$"
